*{
    margin: 0;
    padding: 0;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
.navbar-awal{
    background-color: #e5e4e2;
    width: 100%;
} 
#nav{
    width: 10;
}
.card-style{
    width: 300px;
    height: 10px;
}


#page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
  }
